[Unit]
Description=Suricata Intrusion Detection System
After=network.target

[Service]
Type=simple
ExecStart=/opt/suricata/bin/suricata -c /etc/suricata/suricata.yaml
ExecReload=/bin/kill -HUP \$MAINPID
KillMode=mixed
Restart=on-failure
RestartSec=2
LimitNOFILE=65536
LimitNPROC=8192

[Install]
WantedBy=multi-user.target